{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier" // "prettier" must be last. This will turn off eslint rules conflicting with prettier.
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "linebreak-style": ["error", "unix"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": false }]
  }
}
