{
  "extends": "next/core-web-vitals",
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "linebreak-style": ["error", "unix"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": false }]
  }
}
