.container {
  border-bottom: 0.6px solid #aeb9e1;
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: 3fr 3fr 1fr;;
  margin-bottom: -0.6px;
  padding: 12px 28px;
}

.container:hover {
  background: #4363d7;
  transition: 0.2s ease-in;
}

.name {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.pair {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: 500;
  font-size: 14px;
}

.date {
  color: #aeb9e1;
  font-size: 14px;
}
