.container {
  color: #aeb9e1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.container:hover {
  cursor: pointer;
}

.text {
  font-weight: 500;
  font-size: 16px;
}
