.container {
  border: 0.6px solid #343b4f;
  height: 100%;
  min-width: 202px;
}

.titleWrapper {
  padding: 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.list {
  padding: 20px 10px 20px 20px;
}
